<ul class="contact-links">
  <li><a href="mailto:{{ site.email }}">{% include icons/envelope.svg %}{{ site.email }}</a></li>
  <li><a href="{{ site.links.linkedin }}">{% include icons/linkedin.svg %}LinkedIn</a></li>
  <li><a href="{{ site.links.github }}">{% include icons/github.svg %}GitHub</a></li>
  <li><a href="{{ site.links.scholar }}">{% include icons/scholar.svg %}Google Scholar</a></li>
  <li><a href="{{ site.links.orcid }}">{% include icons/orcid.svg %}ORCID</a></li>
  <li><a href="{{ site.links.researchgate }}">{% include icons/researchgate.svg %}ResearchGate</a></li>
</ul>
